asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-extensions
djangorestframework
idna
importlib-metadata
Markdown
psycopg2-binary
pytz
requests
six
spotipy
sqlparse
tqdm
urllib3
zipp
pandas
numpy
sklearn
scipy
sqlalchemy
bs4