@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.hiddenStack {
  opacity: 0;
  position: absolute;
}

/* SONG COVERS */

@keyframes cover-pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1.1);
  }

  50% {
    opacity: .6;
    transform: scale(1);
  }
}

.cover {
  animation: cover-pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.svm-animation {
  transition: opacity 1s;
}
